
    .divTable {
      overflow: auto;
      height: 27rem;
      overflow-x: hidden;
    }
  
    .table {
      width: 170vh;
      border-spacing: 0 8px;
      text-align: center;
      background: #dcdcdc;
    }

    .btns {
        display: flex;
        gap: 2rem;
    }
      
      thead {
        background-color: #666666;
        font-size: 18px;
        color: #fff;
        position: sticky; /* Adicione posição sticky ao cabeçalho */
        top: -1px; /* Defina o deslocamento negativo para ficar imediatamente acima da div.container */
        z-index: 1; /* Ajuste o valor de z-index para garantir que o cabeçalho fique acima do conteúdo */
      }
  
      .th_thead {
        width: auto;
        text-align: center;
      }
  
      td, th {
        text-align: center;
        padding: 8px;
      }
  
      tr:hover {
        background-color: #d2e6ee;
        cursor: pointer;
      }
  
      tr:nth-child(even) {
        background-color: #c0c0c0;
  
        &:hover {
          background-color: #bae5f5;
        }
      }
    